/* SIDEBAR LEFT STYLING START*/
.sidebar-left {
    
    background-image: url(../images/nav_side.jpg);
    max-width: 20%;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 20rem;
}

.sidebar-left-container {
    padding: .6rem;    
}

.sidebar-left-container h1 {
    font-size: 0.8rem;
}

.who-we-are-list {
    padding: 0px;
    margin-bottom: 0px;
}

.who-we-are-list li {
    list-style: none;
    padding-bottom: .8rem;
    font-size: .8rem;
    
}

.location {
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

.coverage {
    font-size: .75rem;
    
}

.pen-photo {
    max-width: 100%;
}
/* SIDEBAR LEFT STYLING END*/

/* MIDDLE CONTAINER START */
.contact-container {
    width: 50%;
}

.phone-image {
    width: 100%
}

.center-text {
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3px;
    line-height: 1rem;
    font-weight:600;
}

.center-text a {
    text-decoration: none;
}

/* MIDDLE CONTAINER END */



/* SIDEBAR RIGHT START */
.sidebar-right {
    
    background-image: url(../images/other_links_background.jpg);
    max-width: 16%;
    width: 100%;
    color:#923530;
    font-family: Arial, Helvetica, sans-serif;
    height: 25rem;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.sidebar-right-container {
    padding: .6rem;    
}

.sidebar-right-container h1 {
    font-size: 0.8rem;
}

.where-we-work-image {
    max-width: 100%;
}

.suits-image {
    max-width: 100%;
}


.news-text {
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 3px;
}

.where-we-work-container p{
    line-height: 1rem;
}


/* SIDEBAR RIGHT END */




/* MAIN START */
.page-container {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* MAIN END */